---
layout: page
---

{{ content }}

<form action="https://getform.io/f/62a516fd-6c64-430a-ab33-d4dd6379e467" method="POST">
  {% for field in site.data.contact-form %}
    {% if field.type == "text" %}
      <p>
      {{ field.text }}
      <input type="text" name="{{ field.name }}">
      </p>
    {% elsif field.type == "textarea" %}
      <p>
      {{ field.text }}
      <br>	
      <textarea rows = "30" cols = "60" name = "{{ field.name }}">
	Enter your message here
      </textarea>
      </p>
    {% elsif field.type == "checkbox" %}
      <p>
      {{ field.text }}
      <input type="checkbox" name="{{ field.name }}" value="yes" checked>
      <input type="hidden" name=""{{ field.name }}" value="no">
      </p>
    {% elsif field.type == "radio" %}
      <p>
      {{ field.text }}
      <br>
      {% for option in field.options %}
        {% if option.default %}
        {{ option.text }}
        <input type="radio" name="{{ field.name }}" value="{{ option.value }}" checked>
        {% else %}
        {{ option.text }}
        <input type="radio" name="{{ field.name }}" value="{{ option.value }}">
        {% endif %}
      {% endfor %}
      </p>
    {% elsif field.type == "select" %}
      <p>
      {{ field.text }}
      <br>
      {% if field.multiple %}
      <select name="{{ field.name }}" multiple>
      {% else %}
      <select name="{{ field.name }}">
      {% endif %}
      {% for option in field.options %}
        <option value="{{ option.value }}">{{ option.text }}</option>
      {% endfor %}
      </select>
      </p>
    {% endif %}
  {% endfor %}
  <!-- add hidden Honeypot input to prevent spam -->
  <input type="hidden" name="_gotcha" style="display:none !important">
  <button type="submit">Submit</button>
</form>
